---
headline: "The non-lucrative profession of teaching"
subhead: "Educators in Indiana have been on a protest demanding a pay rise. The issue of teachers' salary got debated at the third Democratic presidential debate."
published_date: "Dec 14, 2019"
---

{{!< default}}

{{!-- <div class='demo'></div> --}}

{{> story/chart-01 }} --}}

{{> story/chart-02 }} 

{{> story/density-dropdown }}

{{!-- {{> story/chart-scatter }}

{{> story/chart-images }} --}}


<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">
