<div class="story-body">
    <h2>This is a single line</h2>
    <p>We want it to resize when we make the window larger and smaller</p>

    <div id="chart-line" class="chart"></div>

</div>

<script src="scripts/chart-line.js"></script>
