<div class="story-body scrollytelling">
    <h2>Here's another graphic</h2>
    <p>Unlike the last one, this one is actually going to get crazy.</p>

    <div id="chart-scatter" class="chart">
    </div>

    <div class="steps">
        <div class="step" id='reset-step'>
            <h2>This is some text</h2>
            <p>And we'll put a little more text here</p>
            <p>
              <button id="highlight-asia">Highlight Asia</button>
              <button id="highlight-sa">Highlight South America</button>
            </p>
        </div>

        <div class="step" id="asia-step">
            <p>We are highlighting Asia</p>
        </div>

        <div class="step" id="sa-step">
            <p>We are highlighting South America</p>
        </div>
    </div>
</div>

<script src="scripts/chart-scatter.js"></script>
