{{!-- <div class = 'dark-theme'></div> --}}
<div class="story-body">
    {{!-- <div id="chart-02" class="chart"></div> --}}
<div class="padding-bottom">
    <h2 class="center">Wages and Salaries by Industry in 2018</h2>
    <iframe title="" aria-label="Bar Chart" id="datawrapper-chart-pJTHy" src="//datawrapper.dwcdn.net/pJTHy/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="705"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>

<div id='vis-container'></div>
</div>
</div>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="scripts/salaries-dropdown.js"></script>
