<div class="story-body">
    <h2>This is a single line</h2>

    <div id="density-dropdown" class="chart"></div>

</div>

<select id="selectButton"></select>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<script src="scripts/density-dropdown.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
